@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.main-nav-bar {
    position: relative;

    //font-size: 1em;

    .logo-tienda {
        width: auto;
        height: 2em;
    }

    .nav-link {
        display: inline-block;
        border-radius: 6px;

        //padding-left: .7em;
        //padding-right: .7em;

        &.active {
            //font-weight: vars.$font-weight-bold;

            color: var(--color-white);
            background: var(--color-black);
        }
    }
}
