@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.main-nav-bar {
    position: relative;

    .logo-tienda {
        width: auto;
        height: 2em;
    }

    .nav-link {
        display: inline-block;
        border-radius: 6px;

        &.active {
            color: var(--color-white);
            background: var(--color-black);
        }
    }
}
