@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.cart-page {
    position: relative;


    &__item-list {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 1em;
    }
}
