@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

.main-footer {
    position: relative;

    font-size: 1rem;

    margin-top: auto;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    &__top {
        font-size: 1em;
        background: $gray-400;
        padding: 1em 0;

        a {
            color: vars.$black  !important;
        }
    }

    &__middle {
        font-size: 1em;
        background: $gray-600;
        padding: 1em 0;
    }

    &__bottom {
        font-size: 1em;
        background: $gray-800;
        padding: 1em 0;
    }


    .payments,
    .shipment {
        &__list {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            flex-wrap: wrap;
        }
    }

    .payment-logo,
    .shipment-logo {
        width: 2.2em;
        height: auto;

        margin: 0 .6em .6em 0;
    }

    &__box {
        position: relative;
        padding: 1em 0;
    }

    &__links {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        a {
            color: vars.$gray-normal;
        }

        a+a {
            margin-left: 1em;
        }
    }

    &__legal {
        position: relative;

        font-size: .8em;

        color: vars.$gray-normal;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: left;
        }

        p {
            color: inherit;
        }
    }


    .social {
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: .7em;
        }

        &__icon {
            width: auto;
            height: 1.5em;

            @media screen and (hover: hover) {
                &:hover {
                    color: $gray-600;
                }
            }
        }
    }
}
