/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/
@use "./variables/variables" as vars;
@use "./mixins/mixins";


/*
|--------------------------------------------------------------------------
| MIXINS
|--------------------------------------------------------------------------
*/


/*
|--------------------------------------------------------------------------
| VENDORS
|--------------------------------------------------------------------------
*/

// IMPORTANT: To import CSS into a SCSS, OMIT THE EXTENSION!!!!


/*
|--------------------------------------------------------------------------
| PARTIALS
|--------------------------------------------------------------------------
*/

@import "./partials/fonts";
@import "./partials/general-styles";
@import "./partials/text-styles";



// https://neumorphism.io/
.morph {
    border-radius: vars.$border-radius;

    background: var(--color-gray-normal);

    $distance: 10px; // Should be an even number for better results
    $blur: $distance * 2; // Should be the double of distance for better results but can be whatever you want
    box-shadow: $distance $distance $blur var(--color-gray-darker),
        ($distance * -1) ($distance * -1) $blur var(--color-gray-lighter);

}



// https: //shadows.brumm.af/
// layer: 4, final transp: 0.15, hori and ver distance: 20px, blur strength: 40px, spread: 0
.card-smooth-shadow {
    //@extend .morph;

    border-radius: vars.$border-radius;

    @include mixins.box-shadow-smooth;
}
