@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.item-count {
    position: relative;

    width: 100%;

    font-size: 1rem;

    &__add-to-cart-btn {
        width: 100%;
    }
}
