@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

.cart-widget {
    position: relative;
    font-size: 1em;

    &__btn {
        position: relative;
        font-size: 1em;

        min-width: 5em;

        @include media-breakpoint-up(lg) {
            margin-left: .5em;
        }
    }

    &__btn-top {
        position: relative;

        font-size: 1em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__qty {
        font-size: .9em;
        margin-left: .5em;
    }

    &__btn-label {
        position: relative;
        font-size: .8em;
    }

    &__icon {
        width: auto;
        height: 1em;
    }

}
