@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.main-nav-bar {
    position: relative;

    //font-size: 1em;

    .logo-tienda {
        width: auto;
        height: 2em;   
    }

}



