@use "/src/styles/variables/variables" as vars;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.order-item {
    position: relative;

    width: 100%;

    font-size: 1rem;

    /*
    padding: 1rem;

    border-radius: .4rem;
    border: 1px solid vars.$black;
    */

    /*
    @media screen and (min-width: vars.$lg) {

    }
    */

    &__title {
        font-size: 1em;
        font-weight: vars.$font-weight-regular;

        margin: .5em 0;

        color: vars.$black;

        @media screen and (min-width:vars.$lg) {
            font-size: 1em;
        }
    }


    &__price {
        font-size: 1.2em;
        font-weight: vars.$font-weight-semi-bold;

        margin: .5em 0;
    }

    &+& {
        margin-top: 1rem;
    }
}
