@use "./styles/variables/variables" as vars;


// HERE WE DEFINE NEW BREAKPOINTS FOR BOOTSTRAP (before we import bootstrap config)
$grid-breakpoints: (
    xs: vars.$xs,
    // NEW IN BS
    xm: vars.$xm,
    sm: vars.$sm,
    md: vars.$md,
    lg: vars.$lg,
    xl: vars.$xl,
    xxl: vars.$xxl,
    // NEW IN BS
    xxxl: vars.$xxxl,
);

//@import "./partials/bootstrap-config"; // Custom bootstrap config
@import "~bootstrap/scss/bootstrap";

@import "./styles/main.scss";


.App {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;

    min-height: 100vh;
}
