@use "./styles/variables/variables" as vars;


// HERE WE DEFINE NEW BREAKPOINTS FOR BOOTSTRAP (before we import bootstrap config)
$grid-breakpoints: (
    xs: vars.$xs,
    // NEW IN BS
    xm: vars.$xm,
    sm: vars.$sm,
    md: vars.$md,
    lg: vars.$lg,
    xl: vars.$xl,
    xxl: vars.$xxl,
    // NEW IN BS
    xxxl: vars.$xxxl,
);

//@import "./partials/bootstrap-config"; // Custom boostrap config
@import "~bootstrap/scss/bootstrap";

// TODO: Import only the one we need
@import "~bootstrap-icons/font/bootstrap-icons";


@import "./styles/main.scss";


.App {
    position: relative;
}
