@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.cart-widget {
    position: relative;
    font-size: 1em;

    //overflow: hidden;

    &__btn {
        position: relative;
        font-size: 1em;

        min-width: 7em;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        //transform: translate(0, -100%);
        @include media-breakpoint-up(lg) {
            margin-left: .5em;
        }
    }

    &__btn--hidden {
        display: none;
    }

    &__icon {
        width: auto;
        height: 1em;
    }

    &__spacer {
        position: relative;
        min-width: 7em;

        font-size: 1em;

        &:before {
            content: '⌒°(ᴖ◡ᴖ)°⌒';
        }

        &:active {
            &:before {
                content: '╰°(•◡•)°╯';
            }
        }

        @include media-breakpoint-up(lg) {
            margin-left: .5em;
        }

    }
}
