@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins.scss";

.item-list {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    gap: 1em;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}



