@use "/src/styles/variables/variables" as vars;
@use "/src/styles/mixins/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";


.main-header {
    position: relative;

    font-size: 1em;

    background-color: $gray-300;

    @include mixins.box-shadow-smooth;
}
